body{
display: flex;
justify-content: center;
}

.scalable {
    background: rgb(0, 242, 255);
    color: #fff;
    width: 80vh;
    height: 80vh;
}

.draggable {
    position: absolute;
    background: blue;
    width: 20vh;
    height: 20vh;
}

.centered{
    display: flex;
    justify-content: center;
    align-items: center;
}
